{% extends "base.html" %}
{% block title_descn %}
home
{% endblock %}
{% block main %}
<table>
	<tr>
		<td align="center">
			<a href = "http://hi.baidu.com/momoxiangni" title="伤心小子" target="_blank">伤心小子-百度空间</a>&nbsp;
			<a href = "http://www.cnbeta.com/" title="cnbeta" target="_blank">cnbeta</a>&nbsp;
			<a href = "http://nba.tom.com/" title="nba中文官网" target="_blank">nba中文官网</a>&nbsp;
			<a href = "http://www.youku.com/" title="优酷" target="_blank">优酷首页</a>&nbsp;
			<a href = "http://www.cnitblog.com/hajuli/" title="it博客园" target="_blank">伤心小子-it博客园</a>&nbsp;
			<a href = "http://news.163.com/" title="网易新闻" target="_blank">网易新闻</a>&nbsp;
			
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href = "http://www.hao123.com/" title="hao123" target="_blank">hao123</a>&nbsp;
			<a href = "http://www.google.cn/" title="google" target="_blank">Google搜索</a>&nbsp;
			<a href = "http://code.google.com/p/walle/" title="walle" target="_blank">walle-project</a>&nbsp;
			<a href = "http://code.google.com/p/xpchess/" title="xpchess" target="_blank">xpchess-project</a>&nbsp;
			<a href = "http://code.google.com/p/djangoweb/" title="djangoweb" target="_blank">djangoweb-project</a>&nbsp;
			<a href = "http://code.google.com/intl/zh-CN/appengine/" title="appengine" target="_blank">Google appengine</a>&nbsp;
		</td>
	</tr>
	<tr>
	<td><img src="/site-media/images/dingqilai.jpg" alt="ding" title="titletext" /></td>
	</tr>
</table>
{% endblock %}