
<html>
<title>
添加超链接
</title>
	<script language="javascript" type="text/javascript">
		function close_self()
		{
			parent.g_close_pop();
		}
		function on_button_ok()
		{
			if (check_input()){
				document.getElementById("add_favorites").submit();
				setTimeout("close_self();", 50);
				//close_self();
			}
		}
		function check_input()
		{
			var label_name_val = label_name_val = document.getElementById("label_name").value;
			var i = 0;
			var n_sum = 0;
			for(i = 0; i < label_name_val.length; i++)
			{
				if (label_name_val.charCodeAt(i) > 128){n_sum += 2;}
				else {n_sum += 1;}
				if (n_sum > 16){
					alert("你输入标签名太长.");
					return false;
				}
			}
			if ("" == label_name_val)
			{
				alert("你没有输入标签名.");
				return false;
			}
			if ("" == document.getElementById("url_path").value)
			{
				alert("你没有输入超链接地址.");
				return false;
			}
			return true;
		}
	</script>
	
<body bgcolor="#66cdaa">
<form id = "add_favorites" action="/favorite/favorites/save/" method="post">
<table>
	<tr>
		<td ColSpan = "2">
			标签名称：<input id="label_name" name="label_name" type="text"/>
		</td>
	</tr>
	<tr>
		<td ColSpan = "2">
			超链地址：<input id="url_path" style="width:250px" name="url_path" type="text" />
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr align="center">
		<td>
			<input type="button" value=" 添  加 " onclick="on_button_ok()"/>
		</td>
		<td>
			<input type="button" value=" 取  消 " onclick="close_self()"/>
		</td>
	</tr>
</table>
</form>
</body>
</html>